---
---

video {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.video_holder {
  margin: auto;
  aspect-ratio: 16/9;
  width: 1280px;
  max-width: 100%;
  max-height: 100%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// The following SCSS block to hide the current time and
// seek/scrubber bar in Chrome for live streams. Safari hides
// these for a live stream by default. This does not work in Firefox
// since there does not appear to be a way to style the shadow DOM
// elements there.

video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display {
    display: none;
}
